In [158]:
import pandas as pd

In [159]:
data=pd.read_csv("/Users/azinshahiri/Desktop/playground-series-s3e8/train.csv")

In [160]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [161]:
data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [162]:
data["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [163]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
10977,10977,1.53,Very Good,G,SI1,61.9,56.0,7.38,7.43,4.59,12756
120104,120104,0.55,Ideal,F,VS1,61.4,55.0,5.27,5.32,3.26,1939
64971,64971,2.02,Very Good,I,SI1,59.3,58.0,8.23,8.31,4.93,15072
88913,88913,1.51,Good,E,VS2,60.4,61.0,7.40,7.45,4.49,15239
152417,152417,0.70,Premium,G,VS1,62.1,59.0,5.67,5.65,3.51,2583
85896,85896,1.04,Premium,D,VS1,62.1,59.0,6.50,6.44,4.02,6045
150964,150964,0.32,Premium,E,SI2,61.5,58.0,4.44,4.40,2.72,574
138593,138593,2.19,Ideal,F,SI2,62.0,57.0,8.31,8.36,5.16,13993
165906,165906,1.42,Good,F,SI1,60.5,63.0,7.25,7.18,4.38,8861
192106,192106,0.78,Ideal,E,SI1,62.7,57.0,5.85,5.90,3.68,3049

In [164]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [165]:
#data.size
#data.info
data.shape

(193573, 11)

In [166]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [167]:
data.drop(labels=["id"],axis=1,inplace=True)

In [168]:
data.dtypes != "object"

carat       True
cut        False
color      False
clarity    False
depth       True
table       True
x           True
y           True
z           True
price       True
dtype: bool

In [169]:
num_columns=data.columns[data.dtypes != "object"]

In [170]:
data[num_columns]

        carat  depth  table     x     y     z  price
0        1.52   62.2   58.0  7.27  7.33  4.55  13619
1        2.03   62.0   58.0  8.06  8.12  5.05  13387
2        0.70   61.2   57.0  5.69  5.73  3.50   2772
3        0.32   61.6   56.0  4.38  4.41  2.71    666
4        1.70   62.6   59.0  7.65  7.61  4.77  14453
...       ...    ...    ...   ...   ...   ...    ...
193568   0.31   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34   62.9   55.0  4.45  4.49  2.81    681
193572   0.71   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 7 columns]